---
layout: default
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img style="filter: brightness(60%) !important;" width="404" height="720" alt="Cover" layout="responsive" src="{{ site.baseurl }}{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img style="filter: brightness(60%) !important;" height="720" alt="Cover" layout="fixed-height" src="{{ site.baseurl }}{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">
          <span class="ampstart-fullpage-hero-heading-text title">
            {{ site.title }}
          </span>
        </h1>
        <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2>
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a style="color: #fff !important;" class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span style="color: #fff !important;" class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a style="color: #fff !important;" class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span style="color: #fff !important;" class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}
    </figcaption>
  </figure>

<main id="content" role="main" class="content">

<center>
<i style="color: #A12624; margin-bottom: 10px;" class="fa fa-lightbulb fa-2x"></i>
<h2>Stewarding Dreams</h2>
<p>Dreams are the seeds that often remain unrealized; yet, if given the opportunity to be placed in fertile soil, they can become the solutions to the change we seek. At Groundworks, the work of stewarding dreams for social impact unlocks emerging visions that aim to transform society. Dreaming is good - not living our dreams is bad.</p>
<i style="color: #A12624; margin-bottom: 10px;" class="fa fa-globe fa-2x"></i>
<h2>Social Mission</h2>
<p>Groundworks is growing a community that co-creates together to help find solutions to social problems. We are inspiring mission as a lifestyle while fostering the social mission sector. Our social mission community includes individuals, nonprofits, for-profits, entrepreneurs and individuals working for change.</p>
<i style="color: #A12624; margin-bottom: 10px;" class="fa fa-exchange-alt fa-2x"></i>
<h2>Transformation</h2>
<p>We work collaboratively with others to broker transformation for an urban renewal movement. The transformation of a city is found in the discovery of her redemptive purpose. At Groundworks, we work today because we believe in tomorrow.</p>
</center>


</main>

{% include footer.html %}
