<footer class="ampstart-footer flex flex-column items-center px3">
    <nav class="ampstart-footer-nav">
            <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">

            <li>
                <a href="https://www.facebook.com/Groundworks-Initatives-Inc-176398659044875/" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Facebook">
                    <svg style="margin-top: -38px !important;" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 56 55">
                        <title>Facebook</title>
                        <path d="M47.5 43c0 1.2-.9 2.1-2.1 2.1h-10V30h5.1l.8-5.9h-5.9v-3.7c0-1.7.5-2.9 3-2.9h3.1v-5.3c-.6 0-2.4-.2-4.6-.2-4.5 0-7.5 2.7-7.5 7.8v4.3h-5.1V30h5.1v15.1H10.7c-1.2 0-2.2-.9-2.2-2.1V8.3c0-1.2 1-2.2 2.2-2.2h34.7c1.2 0 2.1 1 2.1 2.2V43" class="ampstart-icon ampstart-icon-fb"></path>
                    </svg>
                </a>
            </li>

        </ul>
        <ul class="list-reset flex flex-wrap mb3">
            {% if site.about %}
            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="/about">About</a>
            </li>
            {% endif %} 
            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="/our-story">Our Story</a>
            </li>
            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="/contact">Contact</a>
            </li>

        </ul>
    </nav>
    <small>
        &copy; 2018 Groundworks Initiatives
    <a href="{{site.baseurl}}">{{site.name}}</a> &nbsp; | &nbsp;  All Rights Reserved.

    </small>
</footer>
