<footer class="ampstart-footer flex flex-column items-center px3">
    <nav class="ampstart-footer-nav">
        <ul class="list-reset flex flex-wrap mb3">
            {% if site.about %}

            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="/contact">About</a>
            </li>
            {% endif %} 

            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="/contact">Contact</a>
            </li>

        </ul>
    </nav>
    <small>
        &copy; 2018 Groundworks Initiatives
    <a href="{{site.baseurl}}">{{site.name}}</a> &nbsp; | &nbsp;  All Rights Reserved.

    </small>
</footer>
